<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create an Account</title>
</head>
<body>
  <form action="/signup" method="post">
    <fieldset>
      <legend>Create an Account</legend>

      <label for="email">Email: 
        <input type="email" id="email" name="email" style="border-radius: 5px;" onblur="checkEmail()" required>
        <span id="emailInvalidError" style="display: none; color: red;">Invalid email.</span>
        <span id="emailTakenError" style="display: none; color: red;">Email taken.</span>
      </label>

      <label for="password">Password: 
        <input type="password" id="password" style="border-radius: 5px;" onblur="checkPassword()" required>
        <span id="passInvalidError" style="display: none; color: red;">Invalid password.</span>
        <p>Password must contain:
          <div> - 8-20 characters</div>
          <div> - 1 uppercase letter</div>
          <div> - 1 lowercase letter</div>
          <div> - 1 number</div>
          <div> - 1 special character</div>
        </p>
      </label>
      
      <label for="confirmPass">Confirm Password: 
        <input type="password" id="confirmPass" style="border-radius: 5px;" onblur="checkConfirmPass()" required>
        <span id="confirmPassInvalidError" style="display: none; color: red;">Passwords must match.</span>
      </label>

      <label for="First Name">First Name: 
        <input type="text" id="fname" name="fname" style="border-radius: 5px;" onblur="checkFName()" required>
      </label>

      <label for="Last Name">Last Name: 
        <input type="text" id="lname" name="lname" style="border-radius: 5px;" onblur="checkLName()" required>
      </label>
      
      <label for="Phone Number">Phone Number: 
        <input type="tel" id="tel" name="tel" style="border-radius: 5px;" onblur="checkTel()" required>
      </label>

      <button type="submit">Create Account</button>

      <div class="error">
        <!-- display error message here (if any) -->
      </div>
    </fieldset>
  </form>
</body>
</html>

<script type="text/javascript">

  const checkEmail = () => {
    let email = document.getElementById("email");
    let emailRegex = /^[^@]+@[^@]+\.[^@]+$/;
    let emailInvalidError = document.getElementById("emailInvalidError");
    let emailTakenError = document.getElementById("emailTakenError");

    if (!emailRegex.test(email.value)) {
      emailInvalidError.style.display = "inline";
      email.style.border = "2px solid #ee6d69";
    } else {
      emailInvalidError.style.display = "none";
      email.style.border = "2px solid #47cc55";
    }

    // check for existence must still be performed

  }

  const checkPassword = (req, res) => {
    let password = document.getElementById("password");
    let passwordRegex = /^(?=.*[\d\W])(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
    let passInvalidError = document.getElementById("passInvalidError");

    if (!passwordRegex.test(password.value)) {
      passInvalidError.style.display = "inline";
      password.style.border = "2px solid #ee6d69";
    } else {
      passInvalidError.style.display = "none";
      password.style.border = "2px solid #47cc55";
    }

  }

  const checkConfirmPass = () => {
    let password = document.getElementById("password");
    let confirmPass = document.getElementById("confirmPass");
    let confirmPassInvalidError = document.getElementById("confirmPassInvalidError");

    if (password.value !== confirmPass.value) {
      confirmPassInvalidError.style.display = "inline";
      confirmPass.style.border = "2px solid #ee6d69";
    } else {
      confirmPassInvalidError.style.display = "none";
      confirmPass.style.border = "2px solid #47cc55";
    }
  }

  const checkFName = () => {

  }

  const checkLName = () => {
    
  }

  const checkExists = (req, res) => {

  }
</script>