<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body onload="checkAll()">
    <form name="signup" action="/customer/signup" method="POST">
        <fieldset>
            <legend>Create an Account</legend>

            <label for="email">Email: 
                <input type="email" id="email" name="email" style="border-radius: 5px;" onblur="checkEmail()" required>
                <span id="emailInvalidError" style="display: none; color: red;">Invalid email.</span>
                <span id="emailTakenError" style="display: none; color: red;">Email taken.</span>
            </label><br/>

            <label for="password">Password: 
                <input type="password" id="password" name="password" style="border-radius: 5px;" onblur="checkPassword()" required>
                <span id="passInvalidError" style="display: none; color: red;">Invalid password.</span>
                <p>Password must contain:
                    <div> - 8-20 characters</div>
                    <div> - 1 uppercase letter</div>
                    <div> - 1 lowercase letter</div>
                    <div> - 1 number</div>
                    <div> - 1 special character</div>
                </p>
            </label><br/>
            
            <label for="confirmPass">Confirm Password: 
                <input type="password" id="confirmPass" name="confirmPass" style="border-radius: 5px;" onblur="checkConfirmPass()" required>
                <span id="confirmPassInvalidError" style="display: none; color: red;">Passwords must match.</span>
            </label><br/>

            <label for="fName">First Name: 
                <input type="text" id="fName" name="firstName" style="border-radius: 5px;" onblur="checkFName()" required>
                <span id="fNameError" style="display: none; color: red;">This field is required.</span>
            </label><br/>

            <label for="lName">Last Name: 
                <input type="text" id="lName" name="lastName" style="border-radius: 5px;" onblur="checkLName()" required>
                <span id="lNameError" style="display: none; color: red;">This field is required.</span>
            </label><br/>
            
            <label for="dob">Date of Birth:
                <input type="date" id="dob" name="dob" min="1900-01-01" style="border-radius: 5px;" onblur="checkDOB()" required>
                <span id="dobAgeError" style="display: none; color: red;">You must be at least 21 years old to create an account.</span>
                <span id="dobInvalidError" style="display: none; color: red;">Invalid date.</span>
            </label><br/>

            <label for="tel">Phone Number: 
                <input type="tel" id="phone" name="phone" style="border-radius: 5px;" onblur="checkPhone()" required>
                <span id="phoneError" style="display: none; color: red;">Invalid phone number.</span>
            </label><br/>

            <div id="recaptcha"></div>
            <button id="submit" type="submit" disabled>Create Account</button>
            <div class="error">
                <!-- display error message here (if any) -->
            </div>
        </fieldset>
    </form>
</body>
    <script>
        
    </script>
</html>
<script type="text/javascript">
    document.signup.reset();
    let phoneNumber, phoneInput;
    const form = new Array(8).fill(0);
    const today = new Date();
    const phoneInputField = document.querySelector("#phone");
    document.getElementById("dob").max = new Date().toISOString().split("T")[0];
    const checkEmail = async () => {
        let email = document.getElementById("email");
        let emailRegex = /^[^@]+@[^@]+\.[^@]+$/;
        let emailInvalidError = document.getElementById("emailInvalidError");
        let emailTakenError = document.getElementById("emailTakenError");

        if (!emailRegex.test(email.value)) {
            emailInvalidError.style.display = "inline";
            email.style.border = "2px solid #ee6d69";
            emailTakenError.style.display = "none";
            form[0] = 0;
            checkAll();
            return;
        } else {
            emailInvalidError.style.display = "none";
        }
        let check = await fetch("/customer/checkExists", {
            headers: {
                'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify({ email: email.value }),
        });
        check = await check.json();
        if (check.exists) {
            emailTakenError.style.display = "inline";
            email.style.border = "2px solid #ee6d69";
            form[0] = 0;
            checkAll();
            return;
        } else {
            emailTakenError.style.display = "none";
            email.style.border = "2px solid #47cc55";
            form[0] = 1;
            checkAll();
        }
    }
    const checkPassword = (req, res) => {
        let password = document.getElementById("password");
        let passwordRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$/;
        let passInvalidError = document.getElementById("passInvalidError");

        if (!passwordRegex.test(password.value)) {
            passInvalidError.style.display = "inline";
            password.style.border = "2px solid #ee6d69";
            form[1] = 0;
        } else {
            passInvalidError.style.display = "none";
            password.style.border = "2px solid #47cc55";
            form[1] = 1;
        }
        checkConfirmPass();
        checkAll();
    }
    const checkConfirmPass = () => {
        let password = document.getElementById("password");
        let confirmPass = document.getElementById("confirmPass");
        let confirmPassInvalidError = document.getElementById("confirmPassInvalidError");

        if (password.value !== confirmPass.value) {
            confirmPassInvalidError.style.display = "inline";
            confirmPass.style.border = "2px solid #ee6d69";
            form[2] = 0;
        } else {
            confirmPassInvalidError.style.display = "none";
            confirmPass.style.border = "2px solid #47cc55";
            form[2] = 1;
        }
        checkAll();
    }
    const checkFName = () => {
        let fName = document.getElementById("fName");
        let fNameError = document.getElementById("fNameError");
        if (fName.value === "") {
            fNameError.style.display = "inline";
            fName.style.border = "2px solid #ee6d69";
            form[3] = 0;
        } else {
            fNameError.style.display = "none";
            fName.style.border = "2px solid #47cc55";
            form[3] = 1;
        }
        checkAll();
    }
    const checkLName = () => {
        let lName = document.getElementById("lName");
        let lNameError = document.getElementById("lNameError");
        if (lName.value === "") {
            lNameError.style.display = "inline";
            lName.style.border = "2px solid #ee6d69";
            form[4] = 0;
        } else {
            lNameError.style.display = "none";
            lName.style.border = "2px solid #47cc55";
            form[4] = 1;
        }
        checkAll();
    }
    const checkDOB = () => {
        let dob = document.getElementById("dob");
        let birth = new Date(dob.value);
        let dobInvalidError = document.getElementById("dobInvalidError");
        let dobAgeError = document.getElementById("dobAgeError");
        let age = today.getFullYear() - birth.getFullYear();
        let monthDiff = today.getMonth() - birth.getMonth();
        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birth.getDate())) {
            age--;
        }
        if (birth.getFullYear() < 1900 || birth > today || dob.value === "") {
            dobInvalidError.style.display = "inline";
            dob.style.border = "2px solid #ee6d69";
            dobAgeError.style.display = "none";
            form[5] = 0;
            checkAll();
            return;
        } else {
            dobInvalidError.style.display = "none";
        }
        if (age < 21) {
            dobAgeError.style.display = "inline";
            dob.style.border = "2px solid #ee6d69";
            form[5] = 0;
        } else {
            dobAgeError.style.display = "none";
            dob.style.border = "2px solid #47cc55";
            form[5] = 1;
        }
        checkAll();
    }

    const confirmCaptcha = () => {
        form[7] = 1;
        checkAll();
    }
    const rejectCaptcha = () => {
        form[7] = 0;
        checkAll();
    }
    const onloadCallback = () => {
        let recaptchaWidget = grecaptcha.render(document.getElementById("recaptcha"), {
            "sitekey": "6LdKfLklAAAAAJFQQ-1pdWBh1Wx88b8MAryWG8_q",
            "callback": confirmCaptcha,
            "expired-callback": rejectCaptcha,
            "error-callback": rejectCaptcha
        });
    }

    const checkAll = () => {
        let fields = form.reduce((a, b) => a + b, 0);
        let button = document.getElementById("submit");
        if (fields === form.length) {
            console.log("Field filled out!");
            button.removeAttribute("disabled");
        } else {
            console.log(form.length - fields, " fields left.");
            button.setAttribute("disabled", "");
        }
    }
    window.onloadCallback = onloadCallback;
    phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    const checkPhone = async (req, res) => {
        let phone = document.getElementById("phone");
        let phoneError = document.getElementById("phoneError");
        phoneNumber = phoneInput.getNumber();
        if (phoneInput.isValidNumber()) {
            phoneError.style.display = "none";
            phone.style.border = "2px solid #47cc55";
            form[6] = 1;
        } else {
            phoneError.style.display = "inline";
            phone.style.border = "2px solid #ee6d69";
            form[6] = 0;
        }
        checkAll();
    }
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>